.user-container {
  width: 90%;
  height: 6vh;
  padding: 1rem;
  margin: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: rgb(219, 215, 215);
  cursor: pointer;
  font-family: "Lato", sans-serif;
  font-size: 1.7rem;
}

.user-container .name {
  width: 50%;
  text-align: start;
}

.current-chat {
  background-color: rgba(174, 120, 236, 0.527);
}

.user-container .img-wrapper .user-img {
  height: 4rem;
}

.user-name-list {
  display: flex;
  align-items: center;
}

.notify {
  margin-inline-start: 3rem;
  justify-self: center;
  align-self: center;
  height: 5rem;
}
